---
layout: publications
title: "Publications"
permalink: /publications/
---

<section class="publications">
  <h1>Publications</h1>
  <ul>
    {% for publication in site.publications %}
      <li>
        <h2><a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></h2>
        <p><strong>Authors:</strong> {{ publication.authors }}</p>
        <p><strong>Journal:</strong> {{ publication.journal }}</p>
        <p><strong>Date:</strong> {{ publication.date | date: "%B %d, %Y" }}</p>
        <p>{{ publication.description }}</p>
      </li>
    {% endfor %}
  </ul>
</section>